@mixin eventifier-respond-to($media) {
  @if $media == desktop {
    @media only screen and (min-width: 460px) { @content }
  }
}

.pull-right { float: right; }

.notifications-header {
  padding: 15px;
  background: white;
}
.notifications-heading {
  font: bold 16px inherit;
}

#notifications-dropdown {
  position: fixed;
  width: 100%;
  border: 1px solid gray;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10020;
  &:focus { outline: none }
  @include eventifier-respond-to(desktop) {
    width: 420px;
    left: auto;
    right: 15px;
    bottom: 20px;
  }
}
#notifications-dropdown { display: none }
#notifications-dropdown.notifications-active { display: block }

.notifications-toggle { position: relative; }
.notifications-alert {
  top: 10px;
  right: -2px;
  padding: 0;
  width: 18px;
  height: 18px;
  background: #ff535f;
  font-size: 12px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
}
.notifications-alert { display: none; }
.notifications-alerting .notifications-alert { display: block; }

.notifications-list-pane, .notifications-settings-pane {
  overflow: scroll;
  height: 100%;
}
.notifications-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &:focus { outline: none }
  li {
    padding: 0;
    background: #f9f9f9;
    &.unread a, a:focus { background-color: white; }
    a {
      display: block;
      padding: 15px;
      font: 13px/1.2 $font_regular;
      overflow: hidden;
      color: inherit;
      &:hover { text-decoration: none; }
    }
  }
}

.notifications-settings-pane {
  display: none;
  background-color: #f2f2f2;
  fieldset { display: block; }
  label {
    display: block;
    margin-bottom: 15px;
    padding-left: 35px;
    input {
      float: left;
      margin-left: -25px;
    }
  }
  &.disabled label:not([for='email_settings_default']) { opacity: 0.5; }
  .notifications-settings-buttons { text-align: center; }
}
.notifications-show-settings {
  .notifications-list-pane { display: none; }
  .notifications-settings-pane { display: block; }
}