<div id="notifications-dropdown">
  <header class="notifications-header">
    <a href="#" class="toggle-notifications-settings">Settings</a>
    <h4>Notifications</h4>
  </header>
  <div class="notifications-list-wrap">
    <ol class="notifications-list">
      <li class="none">You have no notifications</li>
    </ol>
  </div>
  <div id="notifications-settings-pane"></div>
</div>