<div id="notifications-dropdown">
  <header class="notifications-header">
    <a href="#" class="toggle-notifications-settings pull-right">Settings</a>
    <span class="notifications-heading">Notifications</span>
  </header>
  <div class="notifications-list-pane">
    <ol class="notifications-list">
      <li class="none">You have no notifications</li>
    </ol>
  </div>
  <div class="notifications-settings-pane"></div>
</div>